* {
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: slategrey;
    color: white;
    width: 100vw;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;    
}